Source: dewebstrap
Section: misc
Priority: optional
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: https://github.com/paultag/dewebstrap

Package: dewebstrap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, node-recess
Description: creates a bootstrapped website root directory
 Output format can be either static HTML or a flask application.
 It features sane defaults build with less from source.
 .
 This package is not stable enough for use.
