{% extends "base.html" %}

{% block title %}Hello, World{% endblock %}
{% block slug %}
Foo
{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
                <h1>Dolore sed non bicycle rights</h1>
                <h2>Sed sunt thundercats ad</h2>
                Viral mlkshk blog accusamus biodiesel small batch iphone, marfa
                tofu DIY. Excepteur vinyl ullamco, put a bird on it retro veniam
                do dolor. Mlkshk est dreamcatcher mumblecore. Nulla aliqua
                aesthetic aute, mollit sustainable butcher nihil cray fap before
                they sold out. Wayfarers tumblr aliqua direct trade street art,
                flexitarian consequat chillwave placeat. Laborum bicycle rights
                quis, duis umami ennui street art minim mustache. Hoodie food
                truck letterpress sustainable raw denim, excepteur cosby sweater
                nihil sed ullamco.
                <h2>Mumblecore stumptown</h2>
                Beard photo booth mlkshk anim banksy labore. Ethnic ennui velit
                elit, pickled raw denim pork belly delectus single-origin coffee
                carles gastropub ullamco brunch cosby sweater. Quis skateboard
                etsy, pop-up aliqua locavore umami truffaut minim exercitation
                squid. Kale chips marfa viral 8-bit, four loko next level seitan
                post-ironic commodo authentic odd future american apparel.
                <br />
<pre>// Velit nisi sustainable laboris.
Aliquip("wes anderson ut"); // ennui quinoa etsy typewriter high life
organic->mustache(before); // they sold out
// you probably haven't heard of them
street();
art.accusamus();</pre>
                <h2>Est leggings occaecat</h2>
                laboris scenester excepteur elit wayfarers nesciunt. Blog minim
                dolor eiusmod williamsburg selvage. Kale chips jean shorts
                scenester, you probably haven't heard of them incididunt dolor
                hella commodo do sunt bespoke tempor fap duis. Twee wolf craft
                beer pickled, esse synth messenger bag salvia voluptate food
                truck velit commodo kogi. Tumblr next level echo park
                farm-to-table, irure et mustache delectus duis. Polaroid ethnic
                fap whatever. Consectetur bespoke blog, gastropub nulla
                gluten-free placeat mixtape.
{% endblock %}
